
*.icloud
Fellowship18-19-Season-working/ftc_app-master/gradle/wrapper/gradle-wrapper.properties
Fellowship18-19-Season-working/ftc_app-master/build.gradle
Fellowship18-19-Season-working/ftc_app-master/build.gradle
*.gradle
*.properties
Fellowship18-19-Season-working/ftc_app-master/.LaurenLookupTable.txt.un~
Fellowship18-19-Season-working/ftc_app-master/.LaurenLookupTable.txt.swp
Fellowship18-19-Season-working/ftc_app-master/LaurenLookupTable.txt
