
*.icloud
Fellowship18-19-Season-working/ftc_app-master/gradle/wrapper/gradle-wrapper.properties
Fellowship18-19-Season-working/ftc_app-master/build.gradle
Fellowship18-19-Season-working/ftc_app-master/build.gradle
